.App {
  text-align: center;
}

.film-box {
  border: 4px solid blue;
  margin: 20px 300px;
  padding: 20px;
}

.film-list {
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
  margin-bottom: 20px;
}
